@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');


.box{
	position:absolute;
    margin:0 auto;
    top:130px;
    flex:1;
    width:1100px;
}
.leftcolumn {
    float: left;
    width: 15%;
    padding-left: 20px;
    padding-top : 20px;
}

.rightcolumn {
    float: left;
    width: 85%;
    padding-left: 20px;
    height:900px;
}

.card {
    background-color: white;
    padding: 10px;    
    margin-top:10px;
}

.card > span > b{
	position:relative;
	left:42%;
	font-size:25px;
	font-weight : bold;
}

#cathdr{
    padding: 5px 0px 5px 5px;
    margin-bottom: 10px;
    font-size: 16px;
}

.CATEGORY{
    list-style: none;
    margin: 0px;
    padding: 0px;
    max-width: 250px;
    width: 100%;  
}

ul.CATEGORY > li{
    padding: 10px 0px 10px 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #efefef;
    font-size: 12px;
}
.CATEGORY > li:before{
    content: "❣️";
    display: inline-block;
    vertical-align: 0px;
    padding: 10px 5px 6px 0px;
}


.POSTING_{
    width: 100%;
}

.recipe_title:hover {          
    color: grey;  
}

.recipe {
	float:left;
    position: relative;
    width: 210px;
    height: 210px;
    margin:5px;
}

.recipe img{
    position: absolute;
    width: 210px;
    height: 210px;
    object-fit: cover;
    transform: translate(50, 50);
}

.recipe_title{
	text-decoration:none;  
    position: relative;
    top: 250px;
    text-align: center;
    display: block;
    font-weight: 600;
}

.info {
  position: relative;
  background: rgba(0,0,0,0.5);
  width: 210px; height : 210px; 
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.35s ease-in-out;
  text-align: center;
}
.info > a{
	text-decoration:none;  
    position: relative;
    top: 80px;
    font-weight: 600;
    color:white;
}
.recipe:hover .info {
	opacity: 1;
}
.info p {
	color:white;
	line-height: 150px;
}

.recipe input{
    position: absolute;
    z-index: 1;
    top: 8px;
    left: 8px;
    width: 25px;
    height: 25px;
}

#page_control{
	width:100%;
  	font-size:12px;
  	text-align:center;
  	height:60px;
}

#footer{
	position:absolute;
    top:1100px;
    width:100%;
  	font-size:12px;
  	text-align:center;
  	height:60px;
}

