@charset "UTF-8";

.box{
	position:absolute;
    margin:0 auto;
    top:130px;
    flex:1;
    width:1100px;
}

.leftcolumn {
    float: left;
    width: 220px;
    padding-top : 10px;
    padding-left: 15px;
}

.rightcolumn {
    float: left;
    width: 880px;
    padding-left: 40px;
    height:900px;
}

.PROFILE{
    margin-top:20px;
    border: 1px solid grey;
    height: 600px;
    padding: 12px;
}

.PROFILE a{
	color: white;
	text-decoration: none;
	background: #ef7373bf;
}

.profile{
    position: relative;
    width: 178px;
    height: 178px;
    margin:20px;
    overflow: hidden;
    margin:auto;
}

.profile img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(50, 50);
}

#mana {
	position: relative;
	top: 40px;
	font-size: 35px;
}

#userTable {
	position: relative;
	top: 60px;
}

 table {
   width: 100%;
   border-top: 1px solid #444444;
   border-collapse: collapse;
 }
 th, td {
   border-bottom: 1px solid #444444;
   border-left: 1px solid #444444;
   padding: 10px;
 }
 th:first-child, td:first-child {
   border-left: none;
 }


