@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');


.box{
    position:absolute;
    width:inherit;
    top:170px;
    display:flex;
    justify-content: center;
}

.column {
	position:relative;
    width: 35%;
    padding-top : 50px;
}

.column img{
	width:150px;
}

.column form{
    padding:10px;
    padding-top:30px;
}

#register a{
    text-align: right;
    font-size:12pt;
    color: #88604A;
    margin:10px 0px;
    cursor:hand;
    text-decoration-line: none;
}

.LOGIN__BOX{
    position:relative;
    margin:20px 0;
}
.LOGIN__BOX > input{
    background:transparent;
    border:none;
    border-bottom: solid 1px black;
    padding:20px 0px 5px 0px;
    font-size:14pt;
    width:100%;
}
.LOGIN__BOX >input::placeholder{
    color:transparent;
}
.LOGIN__BOX >input:placeholder-shown + label{
    color: black;
    font-size:12pt;
    top:15px;
}
.LOGIN__BOX >input:focus + label, label{
    color: #88604A;
    font-size:10pt;
    pointer-events: none;
    position: absolute;
    left:0px;
    top:0px;
    transition: all 0.2s ease ;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}
.LOGIN__BOX > input:focus, input:not(:placeholder-shown){
    border-bottom: solid 1px  #88604A;
    outline:none;
}

input[type=submit]{
    background-color: black;
    border:none;
    color:white;
    border-radius: 2px;
    width:100%;
    height:35px;
    font-size: 14pt;
    margin-top:30px;
    margin-bottom: 10px;
}

.column input[type=submit]:hover{
	background-color: #88604A;  
}

#forgot a{
    font-size:10pt;
    color:inherit;
    cursor:hand;
    text-decoration: none;
}

