@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/* 기본 */
.post {
	position: relative;
	width: 1100px; height: 1500px;
	display: flex;
	flex-direction: column;
}

/* 게시글 정보칸 */
.mainview {
    position:absolute;
    margin:0 auto;
    margin-left : 20px;
    top:50px;
    width:1040px;
}
.view_info{
    float: right;
    width: 500px;
}

#postImg{
    position: relative;
    width: 500px;
    height: 500px;
    object-fit: cover;
}
.view_img{
    float: left;
    margin-top:20px;
    width: 500px;
    height: 500px;
    overflow: hidden;
}
.clr{
    padding: 0px 0 17px;
}
.clr li{
	list-style: none;
	float:left;
    margin-right: 12px;
    height: 20px;
    line-height: 20px;
    font-size: 13px;
    color: black;
}
.clr li img{
	left:10px;
	height: 11px;
    vertical-align: text-bottom;
    margin-right: 5px;
}
hr{
	border: 0;
    height: 1px;
    background: black;
}

#in, #subtitle, .P__text, #comment{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 24px;
    font-weight: 500;
}
.P__text{
	font-size: 33px;
}
.postaction{
	position: absolute;
	bottom: 0px;
	right:0px;
}
.post a{
	font-family: 'Noto Sans KR', sans-serif;
	text-decoration:none;                      
    color: black;
    font-size: 12px;
}

.mealbox{
	height: 30px;
	margin-top: 30px;
}

.meal {
	border-radius : 5px;
	width: 150px;
	height : 30px;
	font-size: 13px;
	font-weight: bold;
	text-align: center; 
	vertical-align: bottom;
	line-height: 30px;
	background-color: #f0f0f0;
}

.meal input{
	font-family: 'Noto Sans KR', sans-serif;
	text-decoration:none;                      
    color: black;
    font-size: 12px;
    border : 0px;
}

.meal select{
	font-family: 'Noto Sans KR', sans-serif;
	text-decoration:none;                      
    color: black;
    font-size: 12px;
    border : 0px;
    background-color:#f0f0f0;
}
/* 순서칸 */
.hr{
    position:absolute;
    margin:0 auto;
    margin-left : 20px;
    top:610px;
    width:1040px;
}

.chr{
    margin:0 auto;
    width:1040px;
}

.view_step{
    width: 400px;
    height: 400px;
    overflow: hidden;
}

.contentview{
    position:absolute;
    margin:0 auto;
    margin-left : 20px;
    top: 650px;
    width:1040px;
}
.card{
	float:left;
	width : 1040px;
}
.comment{
	float:left;
	width :380px;
}

.stepbox{
    display:flex;
    margin-bottom: 50px;
}

.STEP__IMG{
    position: relative;
    width: 400px;
    height: 400px;
    object-fit: cover;
}


.step{
	float:right;
	margin-left:20px;
	width : 620;
	font-size: 20px;
}

#count {
    padding : 5px;
    font-size: 17px;
}
.comment table{
	margin-top : 10px;
}


.comment input{
	position:relative;
	width : 40px;
	height : 51px;
	top:-18px;
}

.a{
	font-family: 'Noto Sans KR', sans-serif;
	text-decoration:none;                      
    color: black;
    font-size: 12px;
}

.name{
	font-size: 30px;
	font-family: 'Noto Sans KR', sans-serif;
	color: #325b7c;
}

.date{
	font-size: 20px;
	font-family: 'Noto Sans KR', sans-serif;
	text-decoration:none;                      
    color: black;
}
.text{
	font-size: 25px;
	font-family: 'Noto Sans KR', sans-serif;
	text-decoration:none;                      
    color: black;
}
#favorite {
	text-decoration: none;
	font-size: 50px;
}

#favorite:hover {
	cursor: pointer;
}

.COM__BOX{
    position:relative;
    top: -20px;
    margin:20px 0;
}

.COM__BOX #dupl:hover{
	background-color: #88604A;  
}

textarea {
	font-family: 'Nanum Gothic', sans-serif;
	font-size: .8rem;
    letter-spacing: 1px;
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 2px solid black;
}

.COM__BOX #asl{
	position: absolute;
    top: 10px;
    right: 10px;
	width: 60px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    cursor:pointer;
}