@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.box{
	position:absolute;
    width:1100px;
    height:800px;
    margin:0 auto;
    top:130px;
}

.leftcolumn {
    float: left;
    width: 15%;
    padding-left: 20px;
    padding-top : 20px;
}

.rightcolumn {
    float: left;
    width: 82%;
    padding-left: 20px;
}

.card {
    background-color: white;
    padding: 10px;    
    margin-top:10px;
}
.card span{
	font-size:25px;
}
#cathdr{
    padding: 5px 0px 5px 5px;
    margin-bottom: 10px;
    font-size: 16px;
}

.CATEGORY{
    list-style: none;
    margin: 0px;
    padding: 0px;
    max-width: 250px;
    width: 100%;  
}
ul.CATEGORY > li{
    padding: 10px 0px 10px 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #efefef;
    font-size: 12px;
}
.CATEGORY > li:before{
    content: ">>";
    display: inline-block;
    vertical-align: 0px;
    padding: 10px 5px 6px 0px;
}
ul.CATEGORY > li:last-child{
    border-bottom: 0px;
}
.card a{
    cursor:hand;
    text-decoration-line: none;
    color:inherit;
}


.card table{
    position: relative;
    display: block;
    border: 2px black solid;
    border-collapse: collapse;
    border-radius: 5px;
}

.card th {
    text-align: left;
    background-color: rgb(229, 224, 224);
    border-bottom: 1px solid rgb(183, 183, 183);
}

.card td{
    height:100%;
    border-bottom: 1px solid rgb(183, 183, 183);
}

.card th, td{
    padding: 15px 20px;
}

.card input{
    height: 30px;
    font-size: 15px;
    border: 1px solid rgb(211, 211, 211);
}

.card select, button{
    padding: 5px 15px;
}

#phonenum input{
    width: 80px;
    text-align: center;
}

.profile_img{
    position: relative;
    top: 10px;
    left: 10px;
    height: 178px;
    width: 178px;
    overflow: hidden;  
    margin-bottom: 10px;
}

.profile_img img{
    width: 150px;
    object-fit: cover;
    width:100%;
    height: 100%;
}

#profile input{
    position: relative;
}

#intro input{
    width: 700px;
}

#save{
	position: relative;
	left : 47%;
	padding: 10px;
	margin: 20px;
	font-size: 16px;
	width: 60px;
	height: 40px;
	cursor: pointer;
	border: 1px solid black;
}


