@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.box{
	position:absolute;
    width:1100px;
    height:800px;
    margin:0 auto;
    top:130px;
}

.leftcolumn {
    float: left;
    width: 15%;
    padding-left: 20px;
    padding-top : 20px;
}

.rightcolumn {
    float: left;
    width: 82%;
    padding-left: 20px;
}


.card {
    background-color: white;
    padding: 10px;    
    margin-top:10px;
}
.card span{
	font-size:25px;
}
#cathdr{
    padding: 5px 0px 5px 5px;
    margin-bottom: 10px;
    font-size: 16px;
}

.CATEGORY{
    list-style: none;
    margin: 0px;
    padding: 0px;
    max-width: 250px;
    width: 100%;  
}
ul.CATEGORY > li{
    padding: 10px 0px 10px 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #efefef;
    font-size: 12px;
}
.CATEGORY > li:before{
    content: ">>";
    display: inline-block;
    vertical-align: 0px;
    padding: 10px 5px 6px 0px;
}
ul.CATEGORY > li:last-child{
    border-bottom: 0px;
}
.card a{
    cursor:hand;
    text-decoration-line: none;
    color:inherit;
}

.sub_title{
    border-bottom: 1px solid gray;
}
.imgbox{
    position:relative;

}
.recipe{
    position: relative;
    width: 250px;
    height: 300px;
    margin:15px;
    float: left;
    box-shadow:1px 1px 1px 1px rgba(128, 128, 128, 0.8);
}

.recipe img{
    position: absolute;
    width: 250px;
    height: 230px;
    object-fit: cover;
    transform: translate(50, 50);
}

.recipe p{
    position: relative;
    top: 240px;
    text-align: center;
    font-weight: 600;
}

